<%= image_tag "logo.svg", size: "150x150" %>
<div class="login">
  <div class="flex flex-space-between">
    <%= form_tag sessions_path do %>
      <div class="input-group">
        <label>Username</label>
        <%= text_field_tag :username, nil, autocomplete: "off" %>
      </div>

      <div class="input-group">
        <label>Password</label>
        <%= password_field_tag :password, nil, autocomplete: "off" %>
      </div>

      <div class="form-actions">
        <%= submit_tag "Submit", class: "btn btn-dark btn-full btn-round" %>
      </div>
    <% end %>

    <%= image_tag "money-pile.jpg" %>
  </div>
</div>
