<div id="navbar">
  <div class="nav">
    <div class="container">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", size: "60x60" %>
      <% end %>

      <ul class="nav-items-default nav-items nav-items-right">
        <li class="<%= controller_name == "dashboard" ? "active" : '' %>"><%= link_to "dashboard", root_path %></li>
        <li class="<%= controller_name == "expense_uploads" ? "active" : '' %>"><%= link_to "import", new_expense_upload_path %></li>
        <li class="<%= controller_name == "expenses" ? "active" : '' %>"><%= link_to "history", expenses_path %></li>
        <li class="<%= controller_name == "insights" ? "active" : '' %>"><%= link_to "insights", insights_path %></li>
        <li><%= link_to "logout", logout_sessions_path %></li>
      </ul>

      <ul class="nav-items-responsive nav-items nav-items-right">
        <li id="nav-menu-open" onclick="openNav()"><a><i class="fa fa-bars"></i></a></li>
      </ul>
    </div>
  </div>

  <ul class="nav-items-expanded">
      <li class="border-bot <%= controller_name == "dashboard" ? "active" : '' %>"><%= link_to "dashboard", root_path %></li>
      <li class="border-bot <%= controller_name == "expenses" ? "active" : '' %>"><%= link_to "history", expenses_path %></li>
      <li class="border-bot <%= controller_name == "insights" ? "active" : '' %>"><%= link_to "insights", insights_path %></li>
      <li><%= link_to "logout", logout_sessions_path %></li>
  </ul>
</div>

<script type="text/javascript">
  function openNav() {
    var nav = document.getElementById("navbar");
    nav.className = nav.className === "open" ? "" : "open";
  }
</script>
