<div class="nav">
  <div class="container">
    <h1><%= link_to "OnTrack", root_path %></h1>

    <ul class="nav-items nav-items-left">
      <li><%= link_to "dashboard", root_path %></li>
      <li><%= link_to "goals", "#" %></li>
      <li><%= link_to "insights", "#" %></li>
    </ul>

    <ul class="nav-items nav-items-right">
      <li><%= link_to "logout", "#" %></li>
    </ul>
  </div>
</div>
