<!DOCTYPE html>
<html>
  <head>
    <title>OnTrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="<%= current_user ? '' : 'unauthenticated' %>">
    <%= render partial: 'layouts/image_paths' %>

    <% if current_user %>
      <%= render partial: 'layouts/navbar' %>
    <% end %>

    <%= yield %>
  </body>
</html>
