<!DOCTYPE html>
<html>
  <head>
    <title>Ontrack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
